@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-size: 16px;
        --radius: 0.625rem;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;
        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;
        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;
        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-slate-50 text-slate-900 font-sans;
        font-size: var(--font-size);
        line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-heading;
        line-height: 1.5;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h4 {
        @apply text-base;
    }
}

@layer utilities {
    .bg-input-background {
        @apply bg-slate-50;
    }
}